images/*
*.pdf
*.hd
*.mw
*.xsim
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.ent
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.fls
*.log
*.lmc
*.fdb_latexmk
*.snm
*.sbm
*.ptc
*.pdf
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.nav
*.thm
*.xsim
*.*temp
*.xdv
